
UE4/.tgitconfig
UE4/.ue4dependencies
UE4/UE4.sln
UE4/.vs/
UE4/FeaturePacks/
UE4/Samples/
UE4/Templates/
UE4/Engine/Binaries/
UE4/Engine/Build/
UE4/Engine/Content/
UE4/Engine/DerivedDataCache/
UE4/Engine/Documentation/
UE4/Engine/Extras/
UE4/Engine/Intermediate/
UE4/Engine/Saved/
UE4/Engine/Plugins/
UE4/Engine/Programs/
UE4/Engine/Shaders/
UE4/Engine/Source/ThirdParty/
UE4/Engine/Source/Programs/
UE4/Engine/Source/**/*.png
UE4/Engine/Source/**/*.psd
UE4/Engine/Source/**/*.pdn
UE4/Engine/Source/**/*.proj
UE4/Engine/Source/**/*.prog
UE4/Engine/Source/**/*.ico
UE4/Engine/Source/**/*.vspscc
UE4/Engine/Source/**/*.storyboard
UE4/Engine/Source/**/*.xib
UE4/Engine/Source/**/*.plist
UE4/Engine/Source/**/*.pbxproj
UE4/Engine/Source/**/*.xcworkspacedata
UE4/Engine/Source/**/*.xcsettings
UE4/Engine/Source/**/*.mod
UE4/Engine/Source/**/*.classpath
UE4/Engine/Source/**/*.project
UE4/Engine/Source/**/*.prefs
UE4/Engine/Source/**/*.Properties
UE4/Engine/Source/**/*.jar
UE4/Engine/Source/**/*.donotdelete
UE4/Engine/Source/**/*.so
UE4/Engine/Source/**/*.bmp
UE4/Engine/Source/**/*.wixproj
UE4/Engine/Source/**/*.wxs
UE4/Engine/Source/**/*.exe
UE4/Engine/Source/**/*.sql
UE4/Engine/Source/**/*.dll
UE4/Engine/Source/**/*.vsixmanifest
UE4/Engine/Source/**/*.vstemplate
UE4/Engine/Source/**/*.snk
UE4/Engine/Source/**/*.vsct
UE4/Engine/Source/**/*.metal
UE4/Engine/Source/**/*.ttf
UE4/Engine/Source/**/*.obj
UE4/Engine/Source/**/*.chf
UE4/Engine/Source/**/*.zip
UE4/Engine/Source/**/*.References
UE4/Engine/Source/**/*.cache
UE4/Engine/Source/**/*.txt
UE4/Engine/Source/**/*.pdb
UE4/Engine/Source/**/*.CopyComplete

ProjectA/.vs/
ProjectA/Intermediate/
ProjectA/DerivedDataCache/
ProjectA/Saved/